@inherits LayoutComponentBase
@using Frontend.Services
@using Blazored.LocalStorage
@inject AuthService authService
@implements IDisposable
@inject ILocalStorageService LocalStorage

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if(_isAuthenticated)
            {
                <a href="/Login">Logout</a>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _isAuthenticated = false;
    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await LocalStorage.GetItemAsync<bool>("isAuthenticated");
        authService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        authService.OnChange -= StateHasChanged;
    }
}