@inherits LayoutComponentBase
@using Frontend.Services
@using Blazored.LocalStorage
@inject AuthService authService
@implements IDisposable
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if(_isAuthenticated)
            {
                <button @onclick="HandleLogout">Logout</button>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool _isAuthenticated = false;
    protected override async Task OnInitializedAsync()
    {
        _isAuthenticated = await LocalStorage.GetItemAsync<bool>("isAuthenticated");
        authService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        authService.OnChange -= StateHasChanged;
    }
    
    private async Task HandleLogout()
    {
        await LocalStorage.RemoveItemAsync("isAuthenticated");
        await LocalStorage.RemoveItemAsync("role");
        _isAuthenticated = false;
        NavigationManager.NavigateTo("/login");
    }
}